<div class="ft-color">
    <footer class="container py-64 py-sm-32">
        <div class="flex aic jcsb pb-24 d-sm-block">
            <a href="/index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="logo" class="logo mx-12 mr-48"></a>
            <div class="footer-right flex aic d-sm-block">
                <p class="text-md mr-40 px-sm-12 pb-sm-8 mr-sm-0">商品列表</p>
                <p class="text-md px-sm-12">品牌故事</p>
            </div>
        </div>
        <div class="footer-rights lined-top">
            <p class="text-sm textN-600">Copyright ©2025 URBNSTYLE</p>
            <p class="text-sm textN-600">All Rights Reserved.</p>
        </div>
    </footer>    
</div> 