
    <div class="section sign-bg py-24">
            <ul class="flex aic jcc">
                <li><h4 class="h4 h5-md mr-24 mr-sm-16">加入會員取得 9 折優惠</h4></li>
                <li class="">
                    <button type="button" class="btn sign-btn sign-md-btn" >
                        馬上註冊
                    </button>
                </li>
            </ul>
    </div>