  <div class="container">
    <header class="my-16 py-sm-12 flex aic jcsb">
            <div class="header-left flex aic">
                <a href="/pages/index.html"><img src="/assets/images/logo.svg" alt="logo" class="logo mx-12 mr-48"></a>
                <a href="/pages/productlist.html" class="text-md mr-40 d-sm-none textN-900">商品列表</a>
                <a href="/pages/bandstory.html" class="text-md d-sm-none textN-900">品牌故事</a>
            </div>
            <a href="#" class="p-12 textN-900"><i class="bi bi-person"></i></a>
    </header>
  </div>