.breadcrumb-item{
    font-weight: 500;
}


.breadcrumb-item +.breadcrumb-item::before{
    content: '/';
    padding:0 12px;
}

@media(max-width:767px){
.breadcrumb-item +.breadcrumb-item::before{
    padding:0 8px;
}
}


