




.product-img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}



.page-bg{
    background-color: var(--primary-300);
}

.page-btn{
    padding: 8px 15px;
    border-radius: 0;
}

.sign-bg{
    background: var(--primary-200)
}

.sign-btn{
    background: var(--Neutral-900);
    border-radius: 4px;
    padding: 12px 24px;
    color:#FFFFFF ;
}



.page-btn{
    padding: 10px 10px;
}



.footer-rights{
    padding-top: 32px;
    text-align: center;
}