:root {
  --primary-400:#57A203;
  --primary-300:#C0FA73;
  --primary-200:#E8FEC5;
  --primary-100:#F5FEE7;
  --Neutral-900:#212529;
  --Neutral-600:#6C757D;
  --Neutral-500:#ADB5BD;
  --Neutral-400:#CED4DA;
  --Neutral-100:#F8F9FA;
  --Neutral-000:#FFFFFF;
  --Danger-300:#D74F4F;
}
